

:root {
  --nav-dropdown-color: #444444;
  --back-color: #ffffff;
  --default-color: #444444;
  --heading-color: #384f4b;
  --accent-color: #1bbca3;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
  --background-color: #0e1a18;
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Inter", sans-serif;
  --nav-font: "Poppins", sans-serif;
}